div{
  display: flex;
  align-items: center;
  padding: 30px 50px;
    color: #000;
    background: #fff;
    font-size: 25px;
    position: absolute;
    right: 0;
    top:0;
    margin: 10px;
}
svg{
  width: 48px;
  height: 48px;
  margin-right: 12px;
}
