<!-- Side Bar -->
<div class="side-bar">
  <!-- Upper Section -->
  <div class="upper-section">
    <a [routerLink]="'home'" routerLinkActive="active">Home</a>

    <!-- Menu -->
    <div class="menu">
      <h2>Special Codes</h2>
      <a [routerLink]="'generate-code'" routerLinkActive="active"
        >Generate random code</a
      >
      <a [routerLink]="'check-code'" routerLinkActive="active">Check Codes</a>
    </div>
  </div>
  <!-- Lower Section -->
  <div class="lower-section">
    <p>Blurred ipsum dolor sit amet</p>
  </div>
</div>
