<div
  [ngStyle]="{ 'background-image': 'url(' + appSetting.bgUrl + ')' }"
  class="mobile-container"
>
  <h2>logo</h2>
  <p>Put your code here</p>
  <input class="otp-input" placeholder="" />
  <img class="hero-img" [src]="appSetting.heroUrl" alt="Hero Image" srcset="" />
  <div class="counter">24</div>
  <img
    class="robot-img"
    src="./assets/images/robot.png"
    alt="Robot Image"
    srcset=""
  />
  <p>Your Points</p>
  <button class="btn-primary">{{ appSetting.ctaLabel }}</button>

  <img
    class="exchange-img"
    src="./assets/svgs/exchange.svg"
    alt="Exchange Image"
    srcset=""
  />
  <p>Exchange</p>
</div>
