.mobile-container {
  padding: 35px 20px 7px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h2 {
  font-size: 27.9422px;
  line-height: 22px;
  color: #ffffff;
}
p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
p:first-of-type {
  margin-top: 80px;
  margin-bottom: 10px;
}
p:last-of-type {
  font-size: 15px;
}
.otp-input {
  background: linear-gradient(180deg, #ec0926 0%, #e60320 100%);
  height: 52px;
  width: 190px;
  border: none;
  box-shadow: inset 0 0 6px #c57a7a;
  outline: none;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}
::placeholder {
  padding: 18px;
  font-size: 21px;
  color: gainsboro;
}
.hero-img {
  width: 220px;
  height: 200px;
  box-shadow: 0 6px 10px 0 #000;
  object-fit: cover;
  margin: 35px 0;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  color: #ec0725;
  background: #fff;
  font-size: 12px;
  line-height: 16px;
  margin-left: 70px;
}
.robot-img {
  width: 57.86px;
}
.btn-primary {
  width: 197.33px;
  height: 62.14px;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 21px;
  line-height: 26px;
  margin: 45px 0;
  color: #ffffff;
  background: linear-gradient(97.08deg, #ff1f3b -1.46%, #b00017 101.34%);
  box-shadow: inset -0.682814px -2.38985px 2.73126px #b30119,
    inset 2.73126px 3.41407px 2.73126px #e62942;
}
.btn-primary:hover {
  background: linear-gradient(97.08deg, #b00017 101.34%, #ff1f3b -1.46%);
  box-shadow: inset 2.73126px 3.41407px 2.73126px #e62942,
    inset -0.682814px -2.38985px 2.73126px #b30119;
}

.exchange-img {
  width: 45px;
  height: 45px;
}
