.home-container{
  display: flex;
  justify-content: space-between;
}
.card-section{
  flex:1 1 0%;
  margin-right: 60px;
}

.mobile-interface{
  background-color: red;
  width: 368.89px;
  height: 820.03px;
}
