<div class="cards">
  <div class="card rounded-trbl">
    <p>Change point value</p>
    <input class="input" placeholder="" />
  </div>
  <div class="card rounded-tlbr">
    <p>App Background</p>
    <button class="btn-secondary">Change</button>
  </div>
  <div class="card rounded-tlbr">
    <p>Call to Action</p>
    <button class="btn-secondary">Export</button>
  </div>
  <div class="card rounded-trbl">
    <p>Change hero image</p>
    <button class="btn-secondary">Change</button>
  </div>
</div>
